/* adaptation color table*/
.border {
  background-color: #555555;  /*.headRow .head*/
  background-color: #636363;  /*.headOver .headInner*/

  background-color: #808080;

  background-color: #969696;

  background-color: #aaaaaa;
  background-color: #CFCFCF;
  background-color: #EDEDED;
  background-color: #f0f0f0;

  background-color: #e8e2cf;
  background-color: #f4f2eb;



  background-color: #FFB800;
  background-color: #FFDC82;


  background-color: #007a3c;


  background-color: #dfdfdf;
  background-color: #FFDC82;
  background-color: #FFDC82;




}

